@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "Movie Form";
}

<h1>@Model.HeaderString</h1>

@using (Html.BeginForm("Save", "Movies", FormMethod.Post))
{
    Html.ValidationSummary(true, "Please fix following errors:");
    Html.ValidationSummary();

    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Title:")<br />
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor( m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleasedDate, "Released Date:")<br />
        @Html.TextBoxFor(m => m.ReleasedDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleasedDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GenreId, "Genre:")
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Movie Genre...", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock, "Number in Stock:")<br />
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>

    @Html.HiddenFor( m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

