@model Vidly.Models.Customer

@{
    ViewBag.Title = "New Customer";
}

<h1>New Customer</h1>

@using (Html.BeginForm("Create", "Customers", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(customer => customer.Name, "Name: ") <br />
        @Html.TextBoxFor(customer => customer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(customer => customer.BirthDate, "Birthdate: ") <br />
        @Html.TextBoxFor(customer => customer.BirthDate, new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(customer => customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>
}

